body {
 background: linear-gradient(#b8dafc, white);
 overflow: hidden;

}

button {
    width: fit-content;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid  lightgrey;
    border-radius: 5px;
    background: whitesmoke
}

button:hover {
    background: rgba(0,0,0,0.2);
}

.container {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:rgb(162, 216, 250) 2px solid;
    width: 95%;
    height: 100vh;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    border: 1px solid lightgray;
    background: whitesmoke;
    border-radius: 5px;
    width: 500px;
    height: auto;
    margin: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    padding: 0px 20px;
}

#message input {
    width: 90%;
    padding: 8px 0px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

@media(max-width:480px){
    #message input {
        width: 80%;
    }
}